* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #ff6f00;
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 1.3rem;
  font-weight: bold;
  max-width: 1000px;
  margin-left: 90px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input[type="text"] {
  width: 180px;
  border: 1px solid #ccc;
  padding: 0.4rem;
  border-radius: 4px 0 0 4px;
}

.search-form button {
  background-color: #000;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  margin-right: 100px;
}

.search-form button:hover {
  background-color: #333;
}

.container {
  margin: 2rem auto;
  max-width: 1000px;
  text-align: left;
}

h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
}


.movie-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 1.5rem; 
  justify-items: center;
}

.movie-card {
  width: 180px; 
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px; 
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: translateY(-10px); 
}

.movie-card img {
  width: 100%;
  height: 270px; 
  object-fit: cover;
}

.movie-title {
  background-color: #ff6f00;
  color: white;
  padding: 0.6rem 0;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%; 
  display: inline-block;
  box-sizing: border-box;
}
